github "cbpowell/MarqueeLabel" ~> 3.1.6
github "pixelogik/ColorCube" "master"
github "dennisweissmann/DeviceKit" ~> 1.7
github "GianniCarlo/SwiftReorder"
github "iosdevzone/IDZSwiftCommonCrypto"
github "GianniCarlo/DirectoryWatcher"
github "weichsel/ZIPFoundation" ~> 0.9
github "GianniCarlo/Themeable" "master"
