github "cbpowell/MarqueeLabel" ~> 3.1.6
github "pixelogik/ColorCube" "master"
github "dennisweissmann/DeviceKit" ~> 1.7
github "GianniCarlo/SwiftReorder"
github "iosdevzone/IDZSwiftCommonCrypto"
github "GianniCarlo/DirectoryWatcher"
github "weichsel/ZIPFoundation" ~> 0.9
github "GianniCarlo/Themeable" "master"
github "getsentry/sentry-cocoa" "4.1.0"
github "onevcat/Kingfisher" ~> 5.0
github "bizz84/SwiftyStoreKit" "0.14.2"
