<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.pkware.lpf-zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<array>
					<string>application/lpf+zip</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>lpf</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(BP_BUNDLE_IDENTIFIER).background</string>
		<string>$(BP_BUNDLE_IDENTIFIER).background.cellular</string>
		<string>$(BP_BUNDLE_IDENTIFIER).background.refresh</string>
	</array>
	<key>BP_API_DOMAIN</key>
	<string>$(BP_API_DOMAIN)</string>
	<key>BP_API_PORT</key>
	<string>$(BP_API_PORT)</string>
	<key>BP_API_SCHEME</key>
	<string>$(BP_API_SCHEME)</string>
	<key>BP_BUNDLE_IDENTIFIER</key>
	<string>$(BP_BUNDLE_IDENTIFIER)</string>
	<key>BP_MOCKED_BEARER_TOKEN</key>
	<string>$(BP_MOCKED_BEARER_TOKEN)</string>
	<key>BP_REVENUECAT_KEY</key>
	<string>$(BP_REVENUECAT_KEY)</string>
	<key>BP_SENTRY_DSN</key>
	<string>$(BP_SENTRY_DSN)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audiobook</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Audiobook Archive</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride</string>
				</array>
			</dict>
			<key>Ayu Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ayu-light</string>
				</array>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
			</dict>
			<key>Forest Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>forest-green</string>
				</array>
			</dict>
			<key>Fruit Based</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fruit-based</string>
				</array>
			</dict>
			<key>Heart of Glass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>heart-of-glass</string>
				</array>
			</dict>
			<key>Heart of Glass (Ayu)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>heart-of-glass-ayu</string>
				</array>
			</dict>
			<key>Heart of Glass (Forest)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>heart-of-glass-forest</string>
				</array>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>neon</string>
				</array>
			</dict>
			<key>Retro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>retro-icon</string>
				</array>
			</dict>
			<key>Retro Modern</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>retro-modern</string>
				</array>
			</dict>
			<key>Songs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>songs</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
      <key>NSAppIconActionTintColorName</key>
      <string>ShortcutsForegroundColor</string>
      <key>NSAppIconComplementingColorNames</key>
      <array>
        <string>ShortcutsBackgroundColor1</string>
        <string>ShortcutsBackgroundColor2</string>
      </array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride-ipad</string>
				</array>
			</dict>
			<key>Ayu Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ayu-light-ipad</string>
				</array>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-ipad</string>
				</array>
			</dict>
			<key>Forest Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>forest-green-ipad</string>
				</array>
			</dict>
			<key>Fruit Based</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fruit-based-ipad</string>
				</array>
			</dict>
			<key>Heart of Glass</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>heart-of-glass-ipad</string>
				</array>
			</dict>
			<key>Heart of Glass (Ayu)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>heart-of-glass-ayu-ipad</string>
				</array>
			</dict>
			<key>Heart of Glass (Forest)</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>heart-of-glass-forest-ipad</string>
				</array>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>neon-ipad</string>
				</array>
			</dict>
			<key>Retro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>retro-icon-ipad</string>
				</array>
			</dict>
			<key>Retro Modern</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>retro-modern-ipad</string>
				</array>
			</dict>
			<key>Songs</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>songs-ipad</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bookplayer</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enable microphone access so you can record audio</string>
	<key>NSSiriUsageDescription</key>
	<string>Siri shortcuts</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).activity.playback</string>
		<string>INPlayMediaIntent</string>
		<string>PlayAndSleepActionIntent</string>
		<string>SleepTimerIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>CarPlaySceneConfiguration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Continue last book</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(BP_BUNDLE_IDENTIFIER).playLastBook</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
