//
//  Debug.xcconfig
//  BookPlayer
//
//  Created by Gianni Carlo on 5/12/21.
//  Copyright © 2021 Tortuga Power. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM =
BP_BUNDLE_IDENTIFIER =
BP_PROVISIONING_MAIN =
BP_PROVISIONING_WIDGET =
BP_PROVISIONING_WATCH =
BP_PROVISIONING_WATCH_EXTENSION =
BP_PROVISIONING_INTENTS =
BP_PROVISIONING_WIDGET_UI =
