//
//  Release.xcconfig
//  BookPlayer
//
//  Created by Gianni Carlo on 5/12/21.
//  Copyright © 2021 Tortuga Power. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DEVELOPMENT_TEAM = S7TJSJXWUZ
BP_ENTITLEMENTS = BookPlayer
BP_BUNDLE_IDENTIFIER = com.tortugapower.audiobookplayer
BP_PROVISIONING_MAIN = BookPlayer 3 with CarPlay
BP_PROVISIONING_WIDGET = XC BookPlayer Widget
BP_PROVISIONING_WATCH = XC BookPlayer Watch App
BP_PROVISIONING_WATCH_EXTENSION = XC BookPlayer Watch Extension
BP_PROVISIONING_INTENTS = XC: *
BP_PROVISIONING_WIDGET_UI = XC BookPlayer Widget UI
