name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    # https://github.com/actions/runner-images/tree/main/images/macos
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2
    - name: Create Debug.xcconfig
      run: cp ./BuildConfiguration/Debug.template.xcconfig ./BuildConfiguration/Debug.xcconfig
    - name: Swiftlint
      run: swiftlint
    - name: Resolve dependencies
      run: xcodebuild -resolvePackageDependencies
    - name: Build and Run tests
      run: xcodebuild test -project BookPlayer.xcodeproj -scheme BookPlayer -destination 'platform=iOS Simulator,name=iPhone 13,OS=16.2'

